header {
  background-color: #d50000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin: 0;
}

p {
  font-size: 24px;
  margin: 0;
}

main {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

main p {
  font-size: 18px;
  margin: 10px 0;
}

ul {
  font-size: 16px;
}

button {
  background-color: #fff;
  border: none;
  color: #0004d5;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0007d5;
  color: #fff;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 300px;
  height: auto;
}
